<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
          <!-- Bootstrap -->
          <link href="css/bootstrap.min.css" rel="stylesheet" />
          <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
          <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
          <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
          <![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>home</title>
    </h:head>
    <h:body>
        <div class="menu">
            | <h:link outcome="index.xhtml" value="Home" /> | 
            <h:link outcome="register.xhtml" value="Register" /> | 
            <h:link outcome="login.xhtml" value="LogIn" /> |
            <h:link outcome="books.xhtml" value="Books" /> | 
            <h:link outcome="temp_add_book.xhtml" value="Add Book" /> | 
        </div>
        
        <h1>
        It works!<br/>
        #{applicationController.text}
        </h1>
        
        
        
        
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>
    </h:body>
</html>

